/* SETTINGS */
#header-preview img, .header-slideshow-media-container-status-headline {
	visibility: hidden;
}
.header-slideshow-media img, .header-slideshow-media-container-status-headline {
	visibility: hidden;
}
* {
	margin: 0;
	padding: 0;
}
a, a:active, a:focus {
	outline: none;
}
h1, h2, h3 {
	display: none;
}
.content-terms h2, .content-terms h3{
	color: #006937;
	display: block;
}
.content-terms li{
	margin-left:50px;
	font-size:18px;
	color: #006937;
	font-weight:bold;
}
.content-terms li li{
	margin-left: 20px;
	color:grey;
	font-weight:normal;
}
.content-terms li p{
	font-size: 16px;
	color: grey;
	font-weight:normal;
}
h4	{
	color: #046A38;
	font-style: normal;
}
html {
	height: auto;
	min-height: 100%;
}
body {
	height: 100%;
	min-height: 100%;
	font-size: 100%;
}
/* HEADER */
#header {
	position: fixed;
	width: 100%;
background-color: #046A38;
	-moz-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
	top: 0;
	padding: 4px 0px 4px 0px;
	z-index: 1001;
}
.header-border {
	width: 100%;
}
.border-yellow {
border-top: 1px solid #FEDD00;
border-bottom: 1px solid #FEDD00;
}
.header-navigation.font-white {
	overflow: hidden;
	width: 98%;
	max-width: 1200px;
	margin: 0px auto 0px auto;
}
.header-navigation-logo {
	position: absolute;
	width: 184px;
	height: auto;
	z-index: 2000;
	margin: -5px 0px 0px 0px;
}
.header-navigation-logo img {
	width: 100%;
	height: auto;
}
.header-navigation-mobile {
	display: none;
	width: 100%;
	cursor: pointer;
}
.header-navigation-mobile img {
	display: block;
	float: right;
	padding: 16px 3px 16px 0px;
}
.header-navigation.font-white ul {
	float: right;
	padding: 0px 25px 0px 0px;
}
.header-navigation.font-white ul:after {
	clear: both;
	content: " ";
	display: block;
	font-size: 0;
	height: 0;
	visibility: hidden;
}
.header-navigation.font-white ul li {
	float: left;
	list-style: none;
	color: #ffffff;
}
.header-navigation.font-white ul li a, .header-navigation.font-white ul li span {
	display: block;
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	font-size: 18px;
	text-transform: uppercase;
	text-decoration: none;
	color: #ffffff;
	padding: 16px 0px 16px 26px;
}
.header-navigation.font-white ul li span {
	cursor: default;
}
.header-navigation.font-white ul li:hover > ul {
	visibility: visible;
}
.header-navigation.font-white ul li ul {
	position: absolute;
	width: 196px;
	display: inline-block;
	visibility: hidden;
	background: rgb(0, 105, 55);
	background: rgba(0, 105, 55, 0.85);
	-moz-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
	margin: -3px 0px 0px 20px;
	padding: 16px 0px 0px 0px;
}
.header-navigation.font-white ul li ul li {
	float: none;
	list-style: none;
}
.header-navigation.font-white ul li ul li a {
	text-transform: none;
	margin: 0px 0px 0px 0px;
	padding: 0px 16px 16px 16px;
}
.header-navigation.font-white ul li ul li ul {
	position: absolute;
	width: 196px;
	display: inline-block;
	visibility: hidden;
	background: rgb(0, 105, 55);
	background: rgba(0, 105, 55, 0.85);
	-moz-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.25);
	margin: -58px 0px 0px 196px;
	padding: 16px 0px 0px 0px;
}
.header-navigation.font-white ul li.active a, .header-navigation.font-white ul li.active span {
	color: #FEDD00;
}
.menu li:hover a, .menu li:hover span {
	color: #FEDD00;
}

.header-navigation.font-white ul li:hover > ul li a, .header-navigation.font-white ul li:hover > ul li span {
	color: #ffffff;
}
.header-navigation.font-white ul li ul li:hover a, .header-navigation.font-white ul li ul li:hover span {
	color: #FEDD00;
}
.header-navigation.font-white ul li.current.active {
	color: #FEDD00;
}
.header-navigation.font-white ul li.active.deeper.parent {
	color: #ffffff;
}
.header-navigation.font-white ul li ul li.current.active a {
	color: #FEDD00;
}
.header-navigation.font-white ul li.deeper.parent ul li.active a, .header-navigation.font-white ul li.deeper.parent ul li.active span {
	color: #FEDD00;
}
.header-navigation.font-white ul li.deeper.parent ul li.deeper.parent ul li.active a, .header-navigation.font-white ul li.deeper.parent ul li.deeper.parent ul li.active span {
	color: #FEDD00;
}
.header-navigation.font-white ul li.deeper.parent ul li.deeper.parent ul li a, .header-navigation.font-white ul li.deeper.parent ul li.deeper.parent ul li span {
	color: #ffffff;
}

.header-navigation.font-white ul li.deeper.parent ul li.deeper.parent ul li a:hover, .header-navigation.font-white ul li.deeper.parent ul li.deeper.parent ul li span:hover {
	color: #FEDD00;
}
.header-navigation.font-white ul li ul li.deeper.parent ul li a, .header-navigation.font-white ul li ul li.deeper.parent ul li span {
	color: #ffffff;
}
.header-navigation.font-white ul li ul li.deeper.parent ul li a:hover, .header-navigation.font-white ul li ul li.deeper.parent ul li span:hover {
	color: #FEDD00;
}
/* HEADER SLIDESHOW */
.header-slideshow {
	width: 100%;
	height: auto;
	position: relative;
	overflow: hidden;
	margin: 0px 0px 0px 0px;
	z-index: 1;
}
.header-slideshow-status {
	position: absolute;
	right: 1%;
	z-index: 1;
	margin: 36px 1% 0px 1%;
}
.header-slideshow-status div {
	float: left;
	width: 12px;
	height: 12px;
	opacity: 0.8;
	border-radius: 50px;
	margin: 0px 0px 0px 5px;
	background: rgb(255, 255, 255);
	background: rgba(255, 255, 255, 0.8);
}
.header-slideshow-status div.activated {
	background: rgb(0, 105, 55);
	background: rgba(0, 105, 55, 1);
}
.header-slideshow-button {
	position: absolute;
	top: 50%;
	width: 25px;
	height: 52px;
	cursor: pointer;
	z-index: 12;
	margin-top: -26px;
}
.header-slideshow-search {
	position: absolute;
	width: 316px;
	height: 33px;
	top: 50%;
	left: 0;
	right: 0;
	margin: -16px auto 0px auto;
	z-index: 1;
	-moz-box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.25);
	box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.25);
	background-color: #ffffff;
}
.header-slideshow-search input {
	width: 256px;
	height: 33px;
	border: 0px;
	font-family: Arial;
	font-size: 16px;
	color: #B4B4B4;
	padding: 0px 0px 0px 12px;
-webkit-appearance: none;
}
.header-slideshow-search .element-invisible {
	display: none;
}
.header-slideshow-search .button, .header-slideshow-search-button.background-green {
	float: right;
	width: 35px;
	height: 33px;
	cursor: pointer;
	-webkit-border-radius:0;
	-webkit-appearance: none;
	/* background: rgb(0,105,55);
	background: -moz-linear-gradient(0deg, rgba(0,105,55,1) 0%, rgba(39,140,94,1) 50%, rgba(0,105,55,1) 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(0,105,55,1)), color-stop(50%, rgba(39,140,94,1)), color-stop(100%, rgba(0,105,55,1)));
	background: -webkit-linear-gradient(0deg, rgba(0,105,55,1) 0%, rgba(39,140,94,1) 50%, rgba(0,105,55,1) 100%);
	background: -o-linear-gradient(0deg, rgba(0,105,55,1) 0%, rgba(39,140,94,1) 50%, rgba(0,105,55,1) 100%);
	background: -ms-linear-gradient(0deg, rgba(0,105,55,1) 0%, rgba(39,140,94,1) 50%, rgba(0,105,55,1) 100%);
	background: linear-gradient(90deg, rgba(0,105,55,1) 0%, rgba(39,140,94,1) 50%, rgba(0,105,55,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#006937', endColorstr='#006937',GradientType=1); */
}
.header-slideshow-badge {
	position: absolute;
	/* bottom: 50px; */
	margin: 0px 0px 0px 1%;
	z-index: 1;
}
.header-slideshow-scroll-top-button.background-green {
	position: absolute;
	width: 21px;
	height: 23px;
	cursor: pointer;
	right: 0;
	bottom: 50px;
	background: #046A38;
	-moz-box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.25);
	box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.25);
	z-index: 1;
}
.header-slideshow-arrow-up{
	transform: rotate(180deg);
}
.header-slideshow-media {
	position: relative;
}
.header-slideshow-media-container {
	position: relative;
	float: left;
	overflow: hidden;
}
.header-slideshow-media-container img {
	display: block;
	width: 100%;
	height: auto;
}
.header-slideshow-media-container-status {
	position: absolute;
	width: 100%;
	bottom: 50px;
	text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
}
.header-slideshow-media-container-status-headline {
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	font-size: 42px;
	text-decoration: none;
	color: #ffffff;
	margin: 0px 0px 0px 45%;
}
.header-slideshow-media-container-status-headline span {
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	font-size: 52px;
	text-transform: uppercase;
	text-decoration: none;
	color: #ffffff;
}
.header-slideshow-media-container-status-description {
	font-family: 'Courgette', cursive;
	font-weight: 700;
	font-size: 32px;
	margin: 0px 0px 0px 10%;
}


/* HEADER PREVIEW */
#header-preview {
	position: relative;
	overflow: hidden;
	width: 100%;
}
#header-preview img {
	position: relative;
}
#header-preview-status {
	position: absolute;
	width: 92%;
	top: 52%;
	left: 0;
	right: 0;
	-ms-transform: translateY(-50%);
	-webkit: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	z-index: 1;
	margin: 0px auto 0px auto;
}
.header-preview-status-headline {
	position: relative;
	text-align: center;
}
.header-preview-status-headline img {
	display: inline-block;
	width: auto;
	height: 86px;
	max-width: 100px;
	vertical-align: top;
}
.header-preview-status-headline span {
	display: inline-block;
	width: auto;
	height: 86px;
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	font-size: 46px;
	text-transform: uppercase;
	text-decoration: none;
	text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
	color: #ffffff;
	line-height: 86px;
	vertical-align: top;
}
.header-preview-status-description {
	position: absolute;
	width: 300%;
	font-family: 'Courgette', cursive;
	font-weight: 700;
	font-size: 30px;
	text-decoration: none;
	text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
	color: #ffffff;
	text-align: left;
	margin: 0px 0px 0px 54%;
}


/* NAVIGATION ONLINESHOP - GOURMET FACTORY - RECIPES - CAREER */
#navigation-onlineshop, #navigation-gourmet-factory, #navigation-recipes, #navigation-career {
	position: relative;
	width: 100%;
}
#navigation-onlineshop a, #navigation-gourmet-factory a, #navigation-recipes a, #navigation-career a {
	outline: none;
	text-decoration: none;
}
.navigation-onlineshop-scroll-top-button.background-green, .navigation-gourmet-factory-scroll-top-button.background-green, .navigation-recipes-scroll-top-button.background-green, .navigation-career-scroll-top-button.background-green {
	position: absolute;
	width: 21px;
	height: 23px;
	cursor: pointer;
	right: 0;
	bottom: 50px;
	background: #046A38;
	-moz-box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.25);
	box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.25);
	z-index: 1;
}
.navigation-onlineshop-status, .navigation-gourmet-factory-status, .navigation-recipes-status, .navigation-career-status {
	position: absolute;
	width: 78%;
	height: auto;
	top: 50%;
	left: 0;
	right: 0;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit: translateY(-50%);
	-moz-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	margin: 0px auto 0px auto;
}
.navigation-onlineshop-status img, .navigation-gourmet-factory-status img, .navigation-recipes-status img, .navigation-career-status img {
	display: block;
	width: 100%;
	height: auto;
	max-width: 246px;
	max-height: 198px;
	margin: 12px auto 36px auto;
}
.navigation-onlineshop-status-headline, .navigation-gourmet-factory-status-headline, .navigation-recipes-status-headline, .navigation-career-status-headline {
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	font-size: 42px;
	text-decoration: none;
	color: #ffffff;
	text-align: center;
	text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
	margin: 0px 0px 16px 0px;
}
.navigation-onlineshop-status-headline span, .navigation-gourmet-factory-status-headline span, .navigation-recipes-status-headline span, .navigation-career-status-headline span {
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
	font-size: 52px;
	text-transform: uppercase;
	text-decoration: none;
	color: #ffffff;
}
.navigation-onlineshop-status-description, .navigation-gourmet-factory-status-description, .navigation-recipes-status-description, .navigation-career-status-description {
	font-family: 'Courgette', cursive;
	font-weight: 700;
	font-size: 32px;
	text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.5);
	margin: 0px 0px 0px 25%;
}
.navigation-onlineshop-background, .navigation-gourmet-factory-background, .navigation-recipes-background, .navigation-career-background {
	display: block;
	width: 100%;
	height: auto;
}



/* FOOTER */
.footer {
	position: relative;
	text-align: center;
	padding: 46px 0px 46px 0px;
}
.footer ul {
	display: inline-block;
}
.footer ul:after {
	clear: both;
	content: " ";
	display: block;
	font-size: 0;
	height: 0;
	visibility: hidden;
}
.footer ul li {
	float: left;
	list-style: none;
}
.footer ul li a {
	padding: 0px 12px 0px 12px;
}
.footer.font-green ul li a {
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	font-size: 16px;
	text-decoration: none;
	letter-spacing: 0.5px;
	color: #006937;
}


/* CONTENT */
.content-articles {
	width: 98%;
	width: -webkit-calc(98% - 12px);
	width: -moz-calc(98% - 12px);
	width: -o-calc(98% - 12px);
	width: calc(98% - 12px);
	max-width: 1188px;
	margin: 92px auto 92px auto;
}
.content-articles span {
	float: right;
	position: relative;
	display: block;
	width: 46%;
}
.content-articles-headline {
	display: block;
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	font-size: 26px;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	color: #006937;
	margin: 0px 0px 36px 0px;
}
.content-articles-headline:after {
	clear: both;
	content: " ";
	display: block;
	font-size: 0;
	height: 0;
	visibility: hidden;
}
.content-articles-description {
	display: block;
	font-family: 'PT Sans', sans-serif;
	font-weight: 400;
	font-size: 18px;
	color: #888888;
	line-height: 166%;
}
.content-articles-description a {
	text-decoration: none;
	color: #006937;
}
.content-articles-description a:hover {
	text-decoration: underline;
	color: #006937;
}
.content-searchresults{
	position: relative;
	width: 98%;
	width: -webkit-calc(98% - 12px);
	width: -moz-calc(98% - 12px);
	width: -o-calc(98% - 12px);
	width: calc(98% - 12px);
	max-width: 1188px;
	font-size: 0;
	margin: 92px auto 92px auto;
}
.content-searchresults-container{

}
.content-searchresults-container img{
}

.content-articles-description b {
	display: inline-block;
	margin: 0px 0px 10px 0px;
}
.content-articles-description span {
	display: inline-block;
	float: none;
}
.content-articles-description img {
	display: block;
	max-width: 96%;
	height: auto;
	border: 3px solid #333333;
	margin: 0px auto 0px auto;
}
.content-articles-description ul {
	list-style-type: none;
	margin: 26px 0px 26px 0px;
}
.content-articles-description ul li {
	font-size: 18px;
	color: #888888;
	margin: 3px 0px 3px 48px;
}
.content-articles-description ul li:before {
	position: absolute;
	content: "\2022 ";
	font-size: 30px;
	margin-top: -1px;
	margin-left: -22px;
	color: #006937;
}
.content-articles-description ul li a {
	color: #888888;
}
.content-articles-description .highlight {
	display: none;
}

.content-articles-button {
	display: inline-block;
	font-family: 'PT Sans', sans-serif;
	font-weight: 400;
	font-size: 18px;
	color: #ffffff;
	text-align: center;
	text-transform: uppercase;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	cursor: pointer;
	background-color: #006937;
	margin: 36px 0px 0px 0px;
}
.content-articles-button a {
	display: block;
	color: #ffffff;
	text-decoration: none;
	padding: 12px 36px 12px 36px;
}
.content-articles:after {
	clear: both;
	content: " ";
	display: block;
	font-size: 0;
	height: 0;
	visibility: hidden;
}
.content-articles-preview {
	position: relative;
	float: left;
	display: block;
	width: 46%;
}
.content-articles-preview img {
	display: block;
	width: 100%;
	height: auto;
	-moz-box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.18);
	-webkit-box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.18);
	box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.18);
	margin: 0px 0px 0px 0px;
}
.content-articles-preview span {
	width: 100%;
	margin: 62px 0px 0px 0px;
}
.content-articles-preview .youtube {
	position: relative;
	overflow: hidden;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	-moz-box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.18);
	-webkit-box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.18);
	box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.18);
	margin: 9px 0px 0px 0px;
}
.content-articles-preview .youtube iframe, .content-articles-preview .youtube object, .content-articles-preview .youtube embed {
	position: absolute;
	width: 100%;
	height: 100%;
	top:  0;
	left: 0;
}
.content-articles-preview .google-maps {
	height: 360px;
	-moz-box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.18);
	-webkit-box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.18);
	box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.18);
	margin: 9px 0px 0px 0px;
}
.content-articles-preview .google-maps img {
	-moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.0);
	-webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.0);
	box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.0);
}


.content-articles-preview-container {
	position: absolute;
	width: 100%;
	height: auto;
}
.content-articles-preview-container img {
	display: block;
	width: auto;
	-moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.0);
	-webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.0);
	box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.0);
	margin: 0px auto 0px auto;
}
.product-centerer {
	position: absolute;
	width: 100%;
	height: 100%;
}
.product-centerer img {
	display: inline;
	width: auto;
	height: 100%;
	-moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.0);
	-webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.0);
	box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.0);
}
.product-container {
	position: relative;
	display: inline-table;
	text-align: center;
	position:relative;
	margin-bottom: 12px;
	margin-right:12px
}
.product-background {
	display: block;
	width: 100%;
	height: auto;
	-moz-box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.18);
	-webkit-box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.18);
	box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.18);
	margin: 9px 0px 0px 0px;
}

.content-articles-information {
	overflow: hidden;
	width: 100%;
	background-color: #EAEAEA;
	margin: 0px 0px 62px 0px;
}
.content-articles-information-border {
	width: 100%;
	width: -webkit-calc(100% - 24px);
	width: -moz-calc(100% - 24px);
	width: -o-calc(100% - 24px);
	width: calc(100% - 24px);
	border: 1px solid #ffffff;
	margin: 12px 12px 12px 12px;
}
.content-articles-information-container {
	display: inline-block;
	width: 42%;
	width: -webkit-calc(42% - 2px);
	width: -moz-calc(42% - 2px);
	width: -o-calc(42% - 2px);
	width: calc(42% - 2px);
	margin: 18px 4% 18px 4%;
}
.content-articles-information-headline {
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	font-size: 20px;
	letter-spacing: 0.5px;
	color: #006937;
	margin: 0px 0px 18px 0px;
}
.content-articles-information-description {
	font-family: 'PT Sans', sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: #888888;
	line-height: 166%;
}




.content-distance.background-green {
	position: relative;
	width: 100%;
	background-color: #046A38;
	-moz-box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.25);
	box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.25);
	padding: 4px 0px 4px 0px;
	margin: 0px 0px 0px 0px;
	z-index: 3;
}
.content-distance-border {
	width: 100%;
	height: 22px;
}
/* STATUS */
.content-status {
	position: relative;
	width: 100%;
	text-align: right;
	margin: 0px 0px 26px 0px;
}
.content-status-headline {
	display: inline-block;
	font-family: 'Courgette', cursive;
	font-weight: 700;
	font-size: 32px;
	text-decoration: none;
	color: #B3D2C3;
	margin: 36px 2% 0px 0px;
}
.content-status-headline span {
	position: absolute;
	margin: 0px 0px 0px -56px;
}
.content-status-headline img {
	width: 46px;
	height: auto;
}


/* PRODUCTS */
.content-products {
	position: relative;
	width: 98%;
	width: -webkit-calc(98% - 12px);
	width: -moz-calc(98% - 12px);
	width: -o-calc(98% - 12px);
	width: calc(98% - 12px);
	max-width: 1188px;
	font-size: 0;
	margin: 92px auto 92px auto;
}
.content-products-container, .content-productgroups-container, .content-searchresults-container {
	visibility: hidden;
	background-color: #E8E8E8;
	width: 238px;
	height:325px;
	font-size: 16px;
	-moz-box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.18);
	-webkit-box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.18);
	box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.18);
}
.product-container{
	-moz-box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.18);
	-webkit-box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.18);
	box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.18);
}
.content-products-container a, .content-productgroups-container a {
	color: #006937;
	text-decoration: none;
}
.content-products-container img, .content-productgroups-container img, .content-searchresults-container img{
	display: block;
	width: 100%;
	height: auto;
}
.content-searchresults-container a:hover .container-hover{
	opacity: 1;
}
div.container-hover{
	opacity: 0;
	width: 100%;
	z-index: 1;
	background-color: green;
	bottom:0;
	background: rgba(255, 255, 255, 0.75);
	-webkit-transition: opacity 1s ease-in;
	-moz-transition: opacity 1s ease-in;
	-o-transition: opacity 1s ease-in;
	-ms-transition: opacity 1s ease-in;
	transition: opacity 1s ease-in;

}
.content-searchresults-hover-text{
	margin: 7% 7% 25% 7%;
	color: #046A38;
	font-family: 'Oswald';
}
.csr-right{
	float: right;
	font-size: 12px;
}
.csr-left{
	clear:both;
	float: left;
	font-size: 12px;
}
.content-products-status, .content-searchresults-status {
	position: absolute;
	width: 100%;
	text-align: center;
	background: rgba(255, 255, 255, 0.75);
	padding: 16px 0px 16px 0px;
	margin: 8px 0px 0px 0px;
	z-index: 1000;
}
.content-productgroups-container .content-products-status	{
	background-color: #046A38;
}
.content-products-status-preview, .content-searchresults-status-preview {
	position: absolute;
}
div.content-result-recipe{
	bottom:0px;
	left:-25%;
}
.content-searchresults div.content-result-recipe img{
	width:180%
}
.content-searchresults-status-preview{
	bottom:20px
}
.content-searchresults-container{
	overflow:hidden;
}
.content-products-headline {
	width: 86%;
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	font-size: 16px;
	letter-spacing: 0.5px;
	color: #046A38;
	margin: 0px 7% 0px 7%;
}
.content-productgroups-container .content-products-headline	{
	color: #fff;
}


/* PRODUCTS PAGINATION */
.custom-pagination {
	overflow: hidden;
	width: 92%;
	text-align: center;
	margin: 0px 4% 68px 4%;
}
.custom-pagination ul {
	display: inline-block;
	left: 0;
	right: 0;
	margin: 0px auto 0px auto;
}
.custom-pagination ul li {
	float: left;
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	font-size: 16px;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 0.5px;
	color: #CECECE;
	list-style: none;
	padding: 0px 6px 0px 6px;
}
.custom-pagination ul li a {
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	font-size: 16px;
	text-decoration: none;
	letter-spacing: 0.5px;
	color: #006937;
}


/* TRADEMARKS */
.content-trademarks {
	position: relative;
	width: 98%;
	width: -webkit-calc(98% - 12px);
	width: -moz-calc(98% - 12px);
	width: -o-calc(98% - 12px);
	width: calc(98% - 12px);
	max-width: 1188px;
	font-size: 0;
	margin: 92px auto 92px auto;
}
.content-trademarks-container {
	width: 20%;
	min-width: 238px;
	font-size: 16px;
	-moz-box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.18);
	-webkit-box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.18);
	box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.18);
}
.content-trademarks-container img {
	display: block;
	width: 100%;
	height: auto;
}
.content-trademarks-status {
	position: absolute;
	width: 100%;
	text-align: center;
	opacity: 0;
	bottom: 0;
	background: rgba(0, 105, 55, 0.85);
}
.content-trademarks-headline {
	margin: 18px 0px 16px 0px;
}
.content-trademarks-headline a {
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	font-size: 15px;
	letter-spacing: 0.5px;
	color: #ffffff;
}
.content-trademarks-headline span {
	display: inline-block;
	position: relative;
	top: -5px;
}
.content-trademarks-headline img {
	display: inline-block;
	width: 34px;
	height: auto;
	margin: 0px 6px 0px 0px;
}
.content-trademarks-description {
	margin: 0px 0px 18px 0px;
}
.content-trademarks-description a {
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	font-size: 15px;
	letter-spacing: 0.5px;
	color: #ffffff;
}
.content-trademarks-description span {
	display: inline-block;
	position: relative;
	top: -7px;
}
.content-trademarks-description img {
	display: inline-block;
	width: 34px;
	height: auto;
	margin: 0px 2px 0px 0px;
}












/* INGREDIENTS */
#content, #content-info {
	overflow: hidden;
	position: relative;
	width: 92%;
	margin: 18px 4% 18px 4%;
}
#content:after, #content-info:after {
	clear: both;
	content: " ";
	display: block;
	font-size: 0;
	height: 0;
	visibility: hidden;
}
.content-ingredients {
	width: 48%;
	font-family: 'PT Sans', sans-serif;
	font-weight: 400;
	font-size: 15px;
	color: #888888;
	line-height: 166%;
}
.content-ingredients span {
	float: left;
	width: auto;
	min-width: 0;
	display: table;
	margin: 0px 0px 0px 0px;
}
.content-ingredients-headline {
	width: 92%;
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	font-size: 20px;
	letter-spacing: 0.5px;
	color: #006937;
	margin: 16px 4% 18px 4%;
}
.content-ingredients-status {
	overflow: hidden;
	width: 100%;
	background-color: #EAEAEA;
	margin: 0px 0px 62px 0px;
}
.content-ingredients-status-border {
	width: 100%;
	width: -webkit-calc(100% - 24px);
	width: -moz-calc(100% - 24px);
	width: -o-calc(100% - 24px);
	width: calc(100% - 24px);
	border: 1px solid #ffffff;
	margin: 12px 12px 12px 12px;
}
.content-ingredients-status-container {
	overflow: hidden;
	position: relative;
	width: 92%;
	font-size: 0;
	text-align: right;
	margin: 0px 4% 18px 4%;
}
.content-ingredients-status-container span {
	float: left;
	width: auto;
	min-width: 0;
	display: table;
	margin: 0px 0px 0px 0px;
}
#number {
	float: left;
	margin: 18px 0px 0px 0px;
}
#number span {
	height: 36px;
	background-color: #ffffff;
}
#number input {
	width: 38px;
	height: 35px;
	font-family: 'PT Sans', sans-serif;
	font-weight: 700;
	font-size: 14px;
	color: #999999;
	line-height: 35px;
	text-align: center;
	border: 0px solid #000000;
}
#number b {
	height: 36px;
	font-family: 'PT Sans', sans-serif;
	font-weight: 700;
	font-size: 14px;
	line-height: 35px;
	color: #006937;
	margin: 0px 0px 0px 8px;
}
.product-id {
	display: inline;
	-moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
	-webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
	box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
}
.product-id a {
	color: #888888;
	text-decoration: none;
}
.product-id a:hover {
	color: #006937;
	text-decoration: underline;
}
.product-id img {
	position: absolute;
	display: inline-block;
	width: 28px;
	height: auto;
	-moz-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
	-webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
	box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
	margin: 1px 0px 0px 0px;
}
#content-ingredients-notification {
	display: none;
}
#content-ingredients-button-convert {
	display: inline-block;
	cursor: pointer;
	text-align: center;
	background-color: #006937;
	padding: 0px 8px 0px 8px;
	margin: 18px 0px 0px 0px;
}
#content-ingredients-button-convert span {
	width: 100%;
	height: 36px;
	font-family: 'PT Sans', sans-serif;
	font-weight: 700;
	font-size: 14px;
	color: #ffffff;
	text-align: center;
	text-transform: uppercase;
	line-height: 35px;
}
#content-ingredients-button-cart {
	display: inline-block;
	cursor: pointer;
	text-align: center;
	background-color: #006937;
	padding: 0px 8px 0px 8px;
	margin: 18px 0px 0px 8px;
}
#content-ingredients-button-cart span {
	width: 100%;
	height: 36px;
	font-family: 'PT Sans', sans-serif;
	font-weight: 700;
	font-size: 14px;
	color: #ffffff;
	text-align: center;
	text-transform: uppercase;
	line-height: 35px;
}


/* DETAILS */
.content-details {
	width: 100%;
	font-family: 'PT Sans', sans-serif;
	font-weight: 400;
	font-size: 15px;
	color: #888888;
	line-height: 166%;
}
.content-details span {
	float: left;
	width: auto;
	min-width: 36%;
	display: table;
	margin: 0px 0px 0px 0px;
}
.content-details-headline {
	width: 92%;
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	font-size: 20px;
	letter-spacing: 0.5px;
	color: #006937;
	margin: 16px 4% 18px 4%;
}


/* SLIDER */
.content-slider {
	position: relative;
	width: 98%;
	width: -webkit-calc(98% - 60px);
	width: -moz-calc(98% - 60px);
	width: -o-calc(98% - 60px);
	width: calc(98% - 60px);
	max-width: 1140px;
	margin: 0px auto 0px auto;
}
.content-slider-background {
	width: 100%;
	background-color: #ECECEC;
}
.content-slider-media {
	position: relative;
	overflow: hidden;
}
.content-slider-media-container {
	position: relative;
}
.content-slider-media-status {
	position: relative;
	float: left;
	z-index: 3;
}
.content-slider-media-status-container {
	position: absolute;
	width: 60%;
	margin: 0px 20% 0px 20%;
	bottom: -3%;
}
.content-slider-media-status-container img {
	display: block;
	width: auto;
}
.content-slider-media-status a {
	text-decoration: none;
}
.content-slider-media-status img {
	display: block;
	width: 100%;
	height: auto;
	max-width: 86%;
	margin: 0px 7% 0px 7%;
}
.content-slider-media-status-headline {
	position: absolute;
	width: 86%;
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	font-size: 16px;
	text-decoration: none;
	letter-spacing: 0.5px;
	color: #006937;
	top: 12px;
	z-index: 3;
	background: rgb(255, 255, 255);
	background: rgba(255, 255, 255, 0.85);
	padding: 16px 0px 16px 0px;
	margin: 0px 7% 0px 7%;
}
.content-slider-media-status-headline span {
	display: block;
	width: 88%;
	text-transform: capitalize;
	margin: 0px 0px 0px 6%;
}
.content-slider-navigation {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
}
.content-slider-navigation-button {
	position: absolute;
	overflow: hidden;
	width: 14px;
	height: 30px;
	top: 46%;
	top: -webkit-calc(50% - 15px);
	top: -moz-calc(50% - 15px);
	top: -o-calc(50% - 15px);
	top: calc(50% - 15px);
	cursor: pointer;
	z-index: 3;
}
.content-slider-navigation-button img {
	position: absolute;
	display: block;
}
.content-slider-navigation-button:hover img {
	top: -30px;
}
.content-slider-navigation-button:after {
	clear: both;
	content: " ";
	display: block;
	font-size: 0;
	height: 0;
	visibility: hidden;
}
/* CONTACT FORM */
.content-contact-form {
	width: 100%;
	margin: 46px 0px 0px 0px;
}
.content-contact-form-headline {
	font-family: 'PT Sans', sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: #888888;
	margin: 26px 0px 6px 0px;
}
.content-contact-form-information{
	font-family: 'PT Sans', sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #888888;
}

.content-contact-form-container {
	width: 100%;
}
.content-contact-form-container:after {
	clear: both;
	content: " ";
	display: block;
	font-size: 0;
	height: 0;
	visibility: hidden;
}
.content-contact-form-select {
	-moz-box-shadow:inset 0px 0px 0px 3px #EAEAEA;
	-webkit-box-shadow:inset 0px 0px 0px 3px #EAEAEA;
	box-shadow:inset 0px 0px 0px 3px #EAEAEA;
	background-color: #ffffff;
}
.content-contact-form-select select {
	width: 100%;
	width: -webkit-calc(100% - 12px);
	width: -moz-calc(100% - 12px);
	width: -o-calc(100% - 12px);
	width: calc(100% - 12px);
	font-family: 'PT Sans', sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: #888888;
	border: 0px solid #000000;
	margin: 6px 6px 7px 6px;
}
.content-contact-form-input {
	-moz-box-shadow:inset 0px 0px 0px 3px #EAEAEA;
	-webkit-box-shadow:inset 0px 0px 0px 3px #EAEAEA;
	box-shadow:inset 0px 0px 0px 3px #EAEAEA;
	background-color: #ffffff;
}
.content-contact-form-input input {
	width: 92%;
	width: -webkit-calc(92% - 12px);
	width: -moz-calc(92% - 12px);
	width: -o-calc(92% - 12px);
	width: calc(92% - 12px);
	font-family: 'PT Sans', sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: #888888;
	border: 0px solid #000000;
	margin: 7px 0px 8px 10px;
}
.content-contact-form-textarea {
	-moz-box-shadow:inset 0px 0px 0px 3px #EAEAEA;
	-webkit-box-shadow:inset 0px 0px 0px 3px #EAEAEA;
	box-shadow:inset 0px 0px 0px 3px #EAEAEA;
	background-color: #ffffff;
}
.content-contact-form-textarea textarea {
	width: 100%;
	width: -webkit-calc(100% - 20px);
	width: -moz-calc(100% - 20px);
	width: -o-calc(100% - 20px);
	width: calc(100% - 20px);
	height: 180px;
	font-family: 'PT Sans', sans-serif;
	font-weight: 400;
	font-size: 16px;
	color: #888888;
	resize: none;
	border: 0px solid #000000;
	margin: 7px 0px 8px 10px;
}
.content-contact-form-notification {
	display: none;
	overflow: hidden;
	width: 100%;
	background-color: #006937;
	margin: 32px 0px 0px 0px;
}
.content-contact-form-notification span {
	position: relative;
	width: 90%;
	max-width: 90%;
	font-family: 'PT Sans', sans-serif;
	font-weight: 700;
	font-size: 14px;
	line-height: 146%;
	color: #ffffff;
	text-align: center;
	text-transform: uppercase;
	padding: 14px 0px 14px 0px;
	margin: 0px 5% 0px 5%;
}
.content-contact-form-notification-true {
	display: none;
}
.content-contact-form-notification-false {
	display: none;
}
#content-contact-form-button {
	overflow: hidden;
	cursor: pointer;
	background-color: #006937;
	margin: 32px 0px 0px 0px;
}
div.vb_video_frame{
	margin-top: 0px;
}
#content-gewinnspiel-button {
	overflow: hidden;
	cursor: pointer;
	background-color: #006937;
	margin: 32px 0px 0px 0px;
}
#content-contact-form-button span {
	width: 90%;
	font-family: 'PT Sans', sans-serif;
	font-weight: 400;
	font-size: 18px;
	color: #ffffff;
	text-align: center;
	text-transform: uppercase;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	padding: 12px 0px 12px 0px;
	margin: 0px 5% 0px 5%;
}
.content-contact-form .ean {
	display: none;
}
.content-contact-form .mhd {
	display: none;
}


.small {
	width: 8%;
}
.medium {
	width: 46%;
}
.large {
	width: 100%;
}











/* DESKTOPS AND LAPTOPS */
@media (min-width: 1200px) {
	body {
		/* debug: background-color: #ffffff; */
	}
	ul.nav.menu{
		margin-left:180px;
	}
}
/* LANDSCAPE TABLETS AND MEDIUM DESKTOPS */
@media (min-width: 992px) and (max-width: 1199px) {
	body {
		/* debug: background-color:  background-color: #000000;*/
	}
	#header-preview-status {
		top: 56%;
	}
	.header-preview-status-headline img {
		height: 76px;
	}
	.header-preview-status-headline span {
		height: 76px;
		font-size: 42px;
		line-height: 76px;
	}
	.header-preview-status-description {
		font-size: 26px;
	}
    .header-navigation.font-white ul li a, .header-navigation.font-white ul li span {
		padding: 16px 0px 16px 16px;
        font-size: 15px;
	}
	.font-white ul li ul {
		margin: -3px 0px 0px 2px;
		padding: 16px 0px 0px 0px;
	}
	.font-white ul li ul li ul {
		margin: -58px 0px 0px 196px;
		padding: 16px 0px 0px 0px;
	}
	.header-navigation.font-white ul li ul li:hover > ul {
		/* Unter-Unter-Menüs (Level 3) auf Tablets ausblenden*/
		visibility: hidden;
		display:none;
	}
	.header-slideshow-badge {
		bottom: 25px;
	}
	.header-slideshow-badge img {
		width: 156px;
		height: auto;
	}
	.header-slideshow-scroll-top-button.background-green {
		bottom: 25px;
	}
	.header-slideshow-media-container-status {
		/* bottom: 25px; */
	}
	.header-slideshow-media-container-status-headline {
		font-size: 36px;
		margin: 0px 0px 0px 45%;
	}
	.header-slideshow-media-container-status-headline span {
		font-size: 46px;
	}
	.header-slideshow-media-container-status-description {
		font-size: 26px;
		margin: 0px 0px 0px 10%;
	}
	.navigation-onlineshop-status img, .navigation-gourmet-factory-status img, .navigation-recipes-status img, .navigation-career-status img {
		max-width: 226px;
		margin: 12px auto 36px auto;
	}
	.navigation-onlineshop-status-headline, .navigation-gourmet-factory-status-headline, .navigation-recipes-status-headline, .navigation-career-status-headline {
		font-size: 36px;
		margin: 0px 0px 16px 0px;
	}
	.navigation-onlineshop-status-headline span, .navigation-gourmet-factory-status-headline span, .navigation-recipes-status-headline span, .navigation-career-status-headline span {
		font-size: 46px;
	}
	.navigation-onlineshop-status-description, .navigation-gourmet-factory-status-description, .navigation-recipes-status-description, .navigation-career-status-description {
		font-size: 26px;
		margin: 0px 0px 0px 25%;
	}
	.navigation-onlineshop-scroll-top-button.background-green, .navigation-gourmet-factory-scroll-top-button.background-green, .navigation-recipes-scroll-top-button.background-green, .navigation-career-scroll-top-button.background-green {
		bottom: 25px;
	}
	.content-articles {
		margin: 82px auto 82px auto;
	}
	.content-articles-preview .google-maps {
		height: 332px;
	}
	.content-ingredients {
		width: 100%;
	}
	.content-status-headline {
		font-size: 28px;
		margin: 32px 2% 0px 0px;
	}
	.content-status-headline span {
		margin: 0px 0px 0px -50px;
	}
	.content-status-headline img {
		width: 40px;
		height: auto;
	}
		ul.nav.menu{
			margin-left:180px;
		}
	.header-navigation.font-white ul li:hover > ul.mobile-nav-visible{
		display:block;
	}
	.header-navigation.font-white ul li:hover > ul{
		display:none;
	}
	#rechenaufgabe {
		width: 65%;
		margin:auto;
	}
}
/* PORTRAIT TABLETS AND SMALL DESKTOPS */
@media (min-width: 768px) and (max-width: 991px) {
	body {
	/* debug: background-color: background-color: #ff0000;*/
	}
	#header-preview-status {
	top: 60%;
	}
	.header-preview-status-headline img {
		 height: 62px;
	}
	.header-preview-status-headline span {
		height: 62px;
		font-size: 32px;
		line-height: 62px;
	}
	.header-preview-status-description {
		font-size: 18px;
		margin: 0px 0px 0px 54%;
	}
	.header-navigation-logo {
		width: 100px;
	}
	#header ul.nav.menu{
		/* place for logo */
		margin-left:100px;
	}
	.header-navigation.font-white ul {
		padding: 0px 20px 0px 0px;
	}
	.header-navigation.font-white ul li a, .header-navigation.font-white ul li span {
		font-size: 14px;
		padding: 16px 0px 16px 12px;
	}
	.header-navigation.font-white ul li ul li:hover > ul {
		/* Unter-Unter-Menüs (Level 3) auf Tablets ausblenden*/
		visibility: hidden;
		display:none;
	}
	.header-navigation.font-white ul li ul {
		margin: -3px 0px 0px -2px;
		padding: 16px 0px 0px 0px;
	}
	.header-navigation.font-white ul li ul li ul {
		margin: -55px 0px 0px 196px;
		padding: 16px 0px 0px 0px;
	}
	.header-slideshow-status {
		margin: 28px 1% 0px 1%;
	}
	.header-slideshow-badge {
		bottom: 20px;
	}
	.header-slideshow-badge img {
		width: 100px;
		height: auto;
	}
	.header-slideshow-scroll-top-button.background-green {
		bottom: 20px;
	}
	.header-slideshow-media-container-status {
		bottom: 20px;
	}
	.header-slideshow-media-container-status-headline {
		font-size: 30px;
		margin: 0px 0px 0px 45%;
	}
	.header-slideshow-media-container-status-headline span {
		font-size: 40px;
	}
	.header-slideshow-media-container-status-description {
		font-size: 20px;
		margin: 0px 0px 0px 10%;
	}
	.navigation-onlineshop-status img, .navigation-gourmet-factory-status img, .navigation-recipes-status img, .navigation-career-status img {
		max-width: 176px;
		margin: 12px auto 26px auto;
	}
	.navigation-onlineshop-status-headline, .navigation-gourmet-factory-status-headline, .navigation-recipes-status-headline, .navigation-career-status-headline {
		font-size: 30px;
		margin: 0px 0px 16px 0px;
	}
	.navigation-onlineshop-status-headline span, .navigation-gourmet-factory-status-headline span, .navigation-recipes-status-headline span, .navigation-career-status-headline span {
		font-size: 40px;
	}
	.navigation-onlineshop-status-description, .navigation-gourmet-factory-status-description, .navigation-recipes-status-description, .navigation-career-status-description {
		font-size: 20px;
		margin: 0px 0px 0px 25%;
	}
	.navigation-onlineshop-scroll-top-button.background-green, .navigation-gourmet-factory-scroll-top-button.background-green, .navigation-recipes-scroll-top-button.background-green, .navigation-career-scroll-top-button.background-green {
		bottom: 20px;
	}
	.content-articles {
		width: 98%;
		width: -webkit-calc(98% - 6px);
		width: -moz-calc(98% - 6px);
		width: -o-calc(98% - 6px);
		width: calc(98% - 6px);
		margin: 72px auto 72px auto;
	}
	.content-articles-preview .google-maps {
		height: 260px;
	}
	.content-articles-information-container {
		display: block;
		width: 92%;
		margin: 18px 4% 18px 4%;
	}
	.content-products {
		width: 98%;
		width: -webkit-calc(98% - 6px);
		width: -moz-calc(98% - 6px);
		width: -o-calc(98% - 6px);
		width: calc(98% - 6px);
		margin: 72px auto 72px auto;
	}
	.custom-pagination {
		margin: 0px 4% 48px 4%;
	}
	.content-trademarks {
		width: 98%;
		width: -webkit-calc(98% - 6px);
		width: -moz-calc(98% - 6px);
		width: -o-calc(98% - 6px);
		width: calc(98% - 6px);
		margin: 72px auto 72px auto;
	}
	.content-ingredients {
		width: 100%;
	}
	#content-ingredients-button-cart {
		width: 100%;
		margin: 18px 0px 0px 0px;
	}
	.content-status-headline {
		font-size: 22px;
		margin: 32px 2% 0px 0px;
	}
	.content-status-headline span {
		margin: 0px 0px 0px -44px;
	}
	.content-status-headline img {
		width: 34px;
		height: auto;
	}
	.content-slider {
		width: 98%;
		width: -webkit-calc(98% - 54px);
		width: -moz-calc(98% - 54px);
		width: -o-calc(98% - 54px);
		width: calc(98% - 54px);
		margin: 0px auto 0px auto;
	}
	.footer {
		padding: 36px 0px 36px 0px;
	}
	.content-articles-preview div.info-span {
		min-width: 275px;
	}
	ul.nav.menu{
		margin-left:180px;
	}
	.header-navigation.font-white ul li:hover > ul.mobile-nav-visible{
		display:block;
	}
	.header-navigation.font-white ul li:hover > ul{
		display:none;
	}
	#rechenaufgabe {
		width: 65%;
		margin:auto;
	}
	.content-articles-information-border {
		text-align: center;
	}
	.content-articles-information .content-articles-information-container {
		width: 100%;
	}
}
/* LANDSCAPE PHONES AND PORTRAIT TABLETS */
@media (max-width: 767px) {
	body {
	/* debug: background-color:  background-color: #00ff00; */
	}
	#header {
		position: relative;
	}
	#header-preview-status {
		top: 50%;
	}
	.header-preview-status-headline img {
		height: 62px;
	}
	.header-preview-status-headline span {
		height: 62px;
		font-size: 32px;
		line-height: 62px;
	}
	.header-preview-status-description {
		font-size: 18px;
		margin: 0px 0px 0px 54%;
	}
	.header-navigation-logo {
		width: 100px;
		left: 50%;
		margin: -5px 0px 0px -50px;
	}
	.header-navigation-mobile {
		display: block;
	}
	.header-navigation.font-white ul {
		display: none;
		float: none;
		width: 100%;
		padding: 116px 0px 0px 0px;
	}
	.header-navigation.font-white ul li {
		float: none;
		width: 100%;
		text-align: center;
	}
	.header-navigation.font-white ul li a, .header-navigation.font-white ul li span {
		padding: 16px 0px 16px 0px;
	}
	.header-navigation.font-white ul li ul {
		display: none;
		position: relative;
		width: 100%;
		-moz-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.0);
		-webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.0);
		box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.0);
		background-color: transparent;
		margin: 0px 0px -16px 0px;
		padding: 16px 0px 0px 0px;
	}
	.header-navigation.font-white ul li ul li {
		width: 100%;
		text-align: center;
	}
	.header-navigation.font-white ul li:hover > ul {
		display: block;
	}
	.header-navigation.font-white ul li ul li a {
		text-transform: uppercase;
		margin: 0px 0px 0px 0px;
		padding: 0px 0px 32px 0px;
	}
	.header-navigation.font-white ul li ul li ul {
		display: none;
		position: relative;
		width: 100%;
		-moz-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.0);
		-webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.0);
		box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.0);
		background-color: transparent;
		margin: -16px 0px 0px 0px;
		padding: 0px 0px 16px 0px;
	}
	.header-navigation.font-white ul li ul li ul li {
		margin: 0px 0px 0px 0px;
		padding: 0px 0px 0px 0px;
	}
	.header-navigation.font-white ul li ul li ul li a {
		margin: 0px 0px 0px 0px;
		padding: 16px 0px 16px 0px;
	}
	.header-navigation.font-white ul li ul li:hover > ul {
		/* Unter-Unter-Menüs (Level 3) auf Tablets ausblenden*/
		visibility: hidden;
		display:none;
	}
	.header-slideshow-status {
		display: none;
	}
	.header-slideshow-button {
		display: none;
	}
	.header-slideshow-badge {
		bottom: 10px;
	}
	.header-slideshow-badge img {
		width: 60px;
		height: auto;
	}
	.header-slideshow-scroll-top-button.background-green {
		display: none;
	}
	.header-slideshow-media-container-status {
		bottom: 10px;
	}
	.header-slideshow-media-container-status-headline {
		font-size: 20px;
		margin: 0px 0px 0px 42%;
	}
	.header-slideshow-media-container-status-headline span {
		font-size: 30px;
	}
	.header-slideshow-media-container-status-description {
		font-size: 14px;
		margin: 0px 0px 0px 10%;
	}
	.navigation-onlineshop-status img, .navigation-gourmet-factory-status img, .navigation-recipes-status img, .navigation-career-status img {
		max-width: 116px;
		margin: 12px auto 6px auto;
	}
	.navigation-onlineshop-status-headline, .navigation-gourmet-factory-status-headline, .navigation-recipes-status-headline, .navigation-career-status-headline {
		font-size: 20px;
		margin: 0px 0px 16px 0px;
	}
	.navigation-onlineshop-status-headline span, .navigation-gourmet-factory-status-headline span, .navigation-recipes-status-headline span, .navigation-career-status-headline span {
		font-size: 30px;
	}
	.navigation-onlineshop-status-description, .navigation-gourmet-factory-status-description, .navigation-recipes-status-description, .navigation-career-status-description {
		font-size: 14px;
		margin: 0px 0px 0px 25%;
	}
	.navigation-onlineshop-scroll-top-button.background-green, .navigation-gourmet-factory-scroll-top-button.background-green, .navigation-recipes-scroll-top-button.background-green, .navigation-career-scroll-top-button.background-green {
		display: none;
	}
	.content-articles {
		width: 92%;
		text-align: center;
		margin: 62px auto 62px auto;
	}
	.content-articles span {
		float: none;
		width: 100%;
		text-align: center;
	}
	.content-articles-headline {
		width: 80%;
		text-align: center;
		margin: 0px 10% 26px 10%;
	}
	.content-articles-description {
		width: 96%;
		text-align: center;
		line-height: 162%;
		margin: 0px 2% 0px 2%;
	}
	.content-articles-result-image{
		width: 150px;
		width:100%;
	}
	.content-articles-result-image img{
		width: 140px;
	}
	.content-articles-result-width-image-text-box{
		width:100%;
	}
	.content-articles-button {
		margin: 36px auto 0px auto;
	}
	.content-articles-preview {
		float: none;
		width: 100%;
	}
	.content-articles-preview span {

	}
	.content-articles-information-container {
		display: block;
		width: 92%;
		margin: 18px 4% 18px 4%;
	}
	.content-articles-information-headline {
		text-align: center;
	}
	.content-articles-information-description {
		text-align: center;
	}
	.content-details {
		width: 100%;
	}
	.content-details span {
		display: inline;
		margin: 0px 8px 0px 0px;
	}
	.content-products {
		width: 92%;
		text-align: center;
		margin: 62px auto 62px auto;
	}
	.custom-pagination {
		margin: 0px 4% 46px 4%;
	}
	.custom-pagination ul li {
		width: 100%;
		padding: 8px 6px 8px 6px;
	}
	.custom-pagination ul li a {
		display: block;
		width: 100%;
	}
	.content-trademarks {
		width: 92%;
		text-align: center;
		margin: 62px auto 62px auto;
	}
	.content-ingredients {
		width: 100%;
	}
	.content-ingredients span {
		display: inline;
		margin: 0px 0px 0px 0px;
	}
	.content-ingredients-status-container span {
		margin: 0px 0px 0px 0px;
	}
	#number span {
		display: inline;
	}
	.content-status-headline {
		font-size: 18px;
		margin: 26px 2% 0px 0px;
	}
	.content-status-headline span {
		margin: 0px 0px 0px -36px;
	}
	.content-status-headline img {
		width: 26px;
		height: auto;
	}
	.footer {
		padding: 26px 0px 26px 0px;
	}
	.content-articles-preview div.info-span {
		min-width: 275px;
	}
	ul.nav.menu{
		/* for the language flag */
		margin-right:0px;
	}
	div div.language-switcher {
		font-family: "Oswald",sans-serif;
		top: 10px;
		left:10px;
		right:inherit;
	}
	.header-navigation.font-white ul li:hover > ul.mobile-nav-visible{
		display:block;
	}
	.header-navigation.font-white ul li:hover > ul{
		display:none;
	}
	#rechenaufgabe {
		width: 65%;
		margin:auto;
	}
	.content-articles-information-border {
		text-align: center;
	}
	.content-articles-information .content-articles-information-container {
		width: 100%;
	}
}
/* PORTRAIT PHONES */
@media (max-width: 480px) {
	.content-articles-information-border {
		text-align: center;
	}
	.content-articles-information .content-articles-information-container {
		width: 100%;
	}

	body {
  /* debug: background-color:  background-color: #0000ff;*/
	}
	#header {
		position: relative;
	}
	#header-preview-status {
		top: 50%;
	}
	.header-preview-status-headline img {
		height: 52px;
	}
	.header-preview-status-headline span {
		height: 52px;
		font-size: 28px;
		line-height: 52px;
	}
	.header-preview-status-description {
		font-size: 16px;
		margin: 0px 0px 0px 52%;
	}
	.header-navigation-mobile img {
		width: 26px;
		height: auto;
	}
	.header-slideshow-search {
	/* 	display: none; */
		width:200px;
	}
	.header-slideshow-search input {
	    width: 150px;
	}
	.header-slideshow-badge {
		bottom: 5px;
	}
	.header-slideshow-badge img {
		width: 36px;
		height: auto;
	}
	.header-slideshow-media-container-status {
		display: none;
	}
	.navigation-onlineshop-status, .navigation-gourmet-factory-status, .navigation-recipes-status, .navigation-career-status {
		width: 92%;
	}
	.navigation-onlineshop-status img, .navigation-gourmet-factory-status img, .navigation-recipes-status img, .navigation-career-status img {
		display: none;
	}
	.navigation-onlineshop-status-headline, .navigation-gourmet-factory-status-headline, .navigation-recipes-status-headline, .navigation-career-status-headline {
		font-size: 16px;
		margin: 6px 0px 16px 0px;
	}
	.navigation-onlineshop-status-headline span, .navigation-gourmet-factory-status-headline span, .navigation-recipes-status-headline span, .navigation-career-status-headline span {
		font-size: 26px;
	}
	.navigation-onlineshop-status-description, .navigation-gourmet-factory-status-description, .navigation-recipes-status-description, .navigation-career-status-description {
		font-size: 12px;
		margin: 0px 0px 0px 25%;
	}
	.header-navigation.font-white ul li ul li:hover > ul {
		/* Unter-Unter-Menüs (Level 3) auf Tablets ausblenden*/
		visibility: hidden;
		display:none;
	}
	.content-articles {
		margin: 46px auto 46px auto;
	}
	.content-articles-headline {
		width: 98%;
		text-align: center;
		margin: 0px 1% 16px 1%;
	}
	.content-articles-description {
		width: 96%;
		text-align: center;
		line-height: 156%;
		margin: 0px 2% 0px 2%;
	}
	.content-articles-result-image{
		width: 150px;
		height: 100px;
	}
	.content-articles-result-image img{
		width: 140px;
	}
	.content-articles-button {
		font-size: 16px;
	}
	.content-articles-preview span {
		margin: 32px 0px 0px 0px;
	}
	.content-articles-information-container {
		display: block;
	}
	.content-details {
		width: 100%;
	}
	.content-details span {
		display: inline;
		margin: 0px 8px 0px 0px;
	}
	.content-products {
		margin: 46px auto 46px auto;
	}
	.custom-pagination {
		margin: 0px 4% 36px 4%;
	}
	.custom-pagination ul li {
		width: 100%;
		padding: 8px 6px 8px 6px;
	}
	.custom-pagination ul li a {
		display: block;
		width: 100%;
	}
	.content-trademarks {
		margin: 46px auto 46px auto;
	}
	.content-ingredients {
		width: 100%;
	}
	.content-ingredients span {
		display: inline;
		margin: 0px 0px 0px 0px;
	}
	.content-ingredients-status-container span {
		margin: 0px 0px 0px 0px;
	}
	#content-ingredients-button-cart {
		width: 100%;
		margin: 18px 0px 0px 0px;
	}
	#number span {
		display: inline;
	}
	.content-status {
		margin: 0px 0px 16px 0px;
	}
	.content-status-headline {
		font-size: 12px;
		margin: 16px 2.25% 0px 0px;
	}
	.content-status-headline span {
		margin: 0px 0px 0px -20px;
	}
	.content-status-headline img {
		width: 16px;
		height: auto;
	}
	.footer {
		padding: 26px 0px 36px 0px;
	}
	.footer ul li {
		float: none;
	}
	.footer ul li a {
	display: block;
	padding: 12px 12px 12px 12px;
	}
	.content-articles-preview div.info-span{
		width:275px;
	}
	.header-navigation.font-white ul li:hover > ul.mobile-nav-visible{
		display:block;
	}
	.header-navigation.font-white ul li:hover > ul{
		display:none;
	}
	.header-navigation.font-white ul li ul li.active a,
	#header .header-navigation.font-white ul li.deeper.parent ul li a{
		/*color: #046a38*/
		color: #77BF9C;
	}
}
form.content-ingredients-cart-form{
	display: inline-block;
	float:right
}
form.content-ingredients-cart-form input[type=submit]{
	color: #ffffff;
	font-family: "PT Sans", sans-serif;
	font-size: 14px;
	font-weight: 700;
	height: 36px;
	line-height: 35px;
	text-align: center;
	text-transform: uppercase;
	border:0;
	display: block;
	padding:0 5px;
	cursor: pointer;
	text-align: center;
	background-color: #006937;
	margin: 18px 0px 0px 8px;
}
.products-quantity{
	height:78%;
}
.fuellbalken{
	font-family: "Oswald";
	font-size: 12px;
	font-weight: lighter;
	left: 12px;
}
.fuellbalken>span{
	color: #046a38;
	display: block;
	float: left;
	line-height: 50%;
	position: absolute;
	width: 50px;
	margin: 0
}
.fuellbalken>span span{
	margin:0;
}
span.menge-s{
	top: 75%;
}
span.menge-m{
	top: 50%;
}
span.menge-l{
	top: 25%;
}
span.menge-xl{
	top: 0%;
}
.fuellbalken hr{
	background-color: #046a38;
	border: none;
	color: white;
	display: block;
	float: left;
	height: 1px;
	width: 15px;
	margin-right:2px
}
.fuellbalken span span{
	display: block;
	float: left;
}
.product-detail-left-column{
	float:left;
}
.product-detail-left-column .products-container{
	float:left
}
.product-detail-left-column  .info-span{
	width:42%;
	margin:0;
	min-width:200px;
}
.product-detail-left-column .content-details{
	float:right
}
.product-detail-left-column .content-details span{
	margin-right:8px;
	float:left;
	min-width: inherit;
}
.product-detail-left-column span.info-content{
	float:right;
	margin-right: 0;
}
.info-span .content-articles-information{
	/* margin: 0px 0px 20px 0px; */
	margin: auto;
	width: 	100%;
	min-width:215px
}
.content-articles .product-detail-left-column div.info-span,.product-detail-left-column div.product-container{
	float:left
}
.content-articles-preview div.info-span{
	margin-bottom:0px;
	background-color: #EAEAEA;
	height:99%;
}
.product-detail-left-column .content-articles-information-border{
	min-width:180px;
	height:100%;
}
.product-detail-left-column{
	float:left;
	height:100%;
	margin-bottom: 12px
}
.product-info-inner{
	 min-height:268px;
}
.content-trademarks-status>.content-trademarks-description{
	margin-top: 12px;
	margin-bottom: 12px;
}
div.language-switcher{
	text-align: center;
	font-family: 'Oswald', sans-serif;
}
div.language-switcher ul.lang-inline li.lang-active {
	display: none;
	visibility: hidden;
}
div.language-switcher {
	font-family: "Oswald",sans-serif;
	position: absolute;
	right: 20px;
	 top: 20px;
}
div.language-switcher ul {
	margin: 0;
	padding: 0;
	list-style:none;
}
div.language-switcher li {
	margin-left: 5px;
	margin-right: 5px;
}
div.language-switcher ul.lang-inline li {
	display:inline;
}
div.language-switcher ul.lang-block li {
	display:block;
}
div.language-switcher img {
	border:none;
}
.language-switcher a, div .language-switcher a:link, .language-switcher a:active, .language-switcher a:hover,.language-switcher a:visited {
	text-decoration: none;
	color: #046A38;
}
ul.nav.menu{
	margin-right:20px;
}
/*** Videobox Hintergrund raus um Startbild zu sehen ***/
div .vjs-poster	{
	background: none;
}
.flag-bio{;
	background-repeat: no-repeat;
	z-index: 5;
	font-family: 'Oswald', sans-serif;
	height: 180px;
	width: 58px;
	position: absolute;
	top: 274px;
	color:#FFF;
	right:-15px
}
.flag-fresh{;
	background-repeat: no-repeat;
	z-index: 5;
	font-family: 'Oswald', sans-serif;
	height: 180px;
	width: 58px;
	position: absolute;
	top: 240px;
	color:#FFF;
	right:-15px
}
/*** Markenlogo anpassen ***/
.logo-brand	{padding-bottom: 10px;
}/*
.akkordeon h4{
	color:#FFF;
}
.akkordeon {
	width: 100%;
	padding: 0.2em;
	background: white;
}
.akkordeon label{
	padding: 0.2em 1em;
	margin-bottom: 0.2em;
	position: relative;
	display: block;
	height: 1.5em;
	cursor: pointer;
	background: #046a38;
	color: white;
}
.akkordeon label:hover{
	color: white;
}
.akkordeon input + label {
	transition: all 0.5s ease-in-out;
}
.akkordeon div.akkordeoon-tab {
	overflow: hidden;
	height: 0;
	margin: 0;
	transition: all 0.5s ease-in-out;
}
.akkordeon input:checked ~ div.akkordeoon-tab{
	transition: all 0.5s ease-in-out;
	height: 100%;
}
.akkordeon label+div {
	overflow: hidden;
	height: 0;
	margin: 0;
	transition: all 0.5s ease-in-out;
}
.akkordeon input:checked ~ label+div.akkordeoon-tab{
	transition: all 0.5s ease-in-out;
	height: 100%;
}
.akkordeon input{
	display: none;
}*/
.akkordeon {
	width: 100%;
	padding: 0.2em;
	background: white;
}
.akkordeon label:before{
	content: ">";
	float: left;
	padding-right: 5px;
	font-weight:bold;
}
.akkordeon input:checked+label:before{
	content: ">";
	float: left;
	/* height: 100%; */
	padding-right: 5px;
	transform: rotate(90deg);
	font-weight:bold;
}
.akkordeon label{
	padding: 0.2em 1em;
	margin-bottom: 0.2em;
	position: relative;
	display: block;
	cursor: pointer;
	background: #fff;
	color: #046A38;
	border: 1px solid #046A38;
}
.akkordeon label:hover{
	background: #fff;
	color: #046A38;
	border: 1px solid #046A38;
}
.akkordeon input + label {
	transition: all 0.5s ease-in-out;
}
.akkordeon input:checked + label,
.akkordeon input:checked + label:hover{
	background: #fff;
	color: #046A38;
}
.akkordeon div.akkordeon-tab {
	overflow: hidden;
	height: 0;
	margin: 0;
	transition: all 0.5s ease-in-out;
	padding-left:12px;
	padding-right:12px
}
.akkordeon input:checked+label, .akkordeon input:checked+label:hover, .akkordeon input:checked+label:hover h4,.akkordeon input:checked+label h4{
	color:#FEDD00;
	background-color:#046A38;
}
.akkordeon input:checked+label+div.akkordeon-tab{
	transition: all 0.5s ease-in-out;
	height: 100%;
}
.akkordeon #ac-1, .akkordeon #ac-2, .akkordeon #ac-3, .akkordeon #ac-4, .akkordeon #ac-5, .akkordeon #ac-6, .akkordeon #ac-7, .akkordeon #ac-8, .akkordeon #ac-9, .akkordeon #ac-10, .akkordeon #ac-11, .akkordeon #ac-12, .akkordeon #ac-13{
	display: none;
}
.akkordeon label h4{
	color:#046A38;
	padding-left:1em
}
div.akkordeon-tab, div.akkordeon-tab li{
	font-size: 15px;
	line-height: 1.5em;
}
div.akkordeon-tab ul li{
	list-style-type: circle;
}
div.akkordeon-tab ol li{
	list-style-type: decimal;
}
div.akkordeon-tab ul, div.akkordeon-tab ol{
	margin: 0px 0px 14px -20px;
}
div.akkordeon-tab ol{
	padding-left: 40px
}
.akkordeon h5{
	font-size: 17px;
	line-height: 1.5em;
}
.akkordeon strong{
	color:	#046A38;
	font-weight: normal;
}
.content-articles-description.akkordeon ul li:before{
	position: relative;
	content: " ";
	font-size: 12px;
	margin-top: 0px;
	margin-left: 0px;
	color: #888888;
}
.agb-download{
	/*width: 200px;*/
	float: right;
}
.agb-download a,.agb-download a:link, .agb-download a:active, .agb-download a:visited, .agb-download a:hover{
	font-family: 'PT Sans', sans-serif;
	text-decoration:none;
	color: #046A38;
	font-size: 16px;
}
/*** E-Mail Cloaking ***/
.content-articles-information-description span {margin: 0;text-decoration: none; color: #808080;}
.content-articles-description span {width:50%;}
.akkordeon-tab span{width:auto; float:none;}
.content-articles-information-container {
    width: 44%;
    width: -webkit-calc(44% - 2px);
    width: -moz-calc(44% - 2px);
    width: -o-calc(44% - 2px);
    width: calc(44% - 2px);
    margin: 18px 3% 18px 3%;
}
/*** Terms And Conditions ***/
.content-terms li p {padding-bottom: 10px;}
/*** Anpassung Feld Rechenaufgabe Kontaktformular ***/
.calculation {width: 45%;}